body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  background-color: #f44336;
  min-height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  font-size: 40vmin;
  font-family: sans-serif;
  font-weight: 900;
  pointer-events: none;
} */