body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  background-color: #f44336;
  min-height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  font-size: 40vmin;
  font-family: sans-serif;
  font-weight: 900;
  pointer-events: none;
} */

.App-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  /* color: #f44336; */
  background-color: white;
}

.logo {
  width: 20%;
}
